.uox-dropdown-menu#uox-student-select
  %header
    Who'd you like to update?
    = link_to "X", "#", "data-behavior" => "close-dropdown", "data-target" => 'uox-message-dropdown', class: "close"
  .uox-dropdown-body
    = text_field_tag("autocomplete", nil, autofocus: true, data: {behavior: "autocomplete autocomplete_selectable_link", source: extension_autocomplete_data_for_students(@user.students.with_registered_parents), remote: true})