%section.students_with_registered_parents
  %header
    %h3 Students with Registered Parents
  = render "student_list", students: @students.with_registered_parents

%section.students_without_registered_parents
  %header
    %h3 Everyone Else
  = render "student_list", students: @students.without_registered_parents