.stats.three
  .stat_container
    .stat
      .number= blank_or_link_for_stat(student.messages.count, student_messages_path(student))
      .description TOTAL SENT
  .stat_container
    .stat
      .number= blank_or_link_for_stat(current_user.messages.for_student(student).count, user_student_messages_path(student, user_id: current_user.id))
      .description SENT BY YOU
  .stat_container
    .stat
      .number= blank_or_link_for_stat(student.num_messages_unchecked, unchecked_student_messages_path(student))
      .description UNCHECKED