- if flash.any?
  - flash.each do |type, msg|
    .alert{class: 'alert-' + flash_class_from_type(type.to_s)}
      = msg
      = link_to "&times;".html_safe, "#", "data-dismiss" => "alert", class: "close"