%tr
  %td.message
    %span.student= message.student.full_name
    %span.message_body= "- #{message.body}"
  %td.time= time_or_date_format(message.created_at)
  %td.status
    - if message.checked?
      .circle_icon.green
        %i.icon-ok.icon-white