.sidebox
  %header Your Overview
  .sidebox_body
    .stats.three
      .stat_container
        .stat
          .number= link_to "128", user_path(user)
          .description TOTAL
      .stat_container
        .stat
          .number= link_to "27", "#"
          .description LAST WEEK
      .stat_container
        .stat
          .number= link_to "7", "#"
          .description UNCHECKED