.sidebox
  %header Updates Overview
  .sidebox_body
    .stats.three
      .stat_container
        .stat
          .number= blank_or_link_for_stat(user.messages.count, user_path(user))
          .description TOTAL
      .stat_container
        .stat
          .number= blank_or_link_for_stat(user.num_messages_last_week, "#")
          .description LAST WEEK
      .stat_container
        .stat
          .number= blank_or_link_for_stat(user.num_messages_unchecked, "#")
          .description UNCHECKED