- content_for :aside do
  = render "shared/user_overview", user: current_user

%h1 What's happened recently
.events
  - current_user.messages.each do |message|
    = render "message", message: message