- content_for :aside do
  = render "shared/user_overview", user: current_user

%section.events
  %header
    %h3 Recent Activity
  .events_list
    - current_user.messages.each do |message|
      = render "shared/event_message", message: message