%table.table.messages
  %tbody
    - if messages.count > 0
      = render partial: "shared/messages/message", collection: messages
    - else
      %tr
        %td.no_messages{colspan: "3"} There aren't any messages to show you yet!