.stats.three
  .stat_container
    .stat
      .number= blank_or_link_for_stat(student.messages.count, user_messages_path(student))
      .description TOTAL SENT
  .stat_container
    .stat
      .number= blank_or_link_for_stat(current_user.messages.for_student(student).count, student_messages_path(student))
      .description SENT BY YOU
  .stat_container
    .stat
      .number= current_user.messages.for_student(student).unchecked.count
      .description UNCHECKED