- content_for :filter_alert do
  These are your updates that you sent for #{@student.first_name}. You can #{link_to "view all of #{@student.first_name}'s updates", student_messages_path(@student)} instead

= render "shared/message_list", messages: @student.messages.from_user(@user)