# TODO: Get rid of localhost refeences
# only show for certain sites

//= require_tree .
//= require ../app/autocomplete_selectable_link

$container = $('<div id="uox_container"></div>').prependTo 'body'

class RemoteUrl
  constructor: (@url, @method = 'get', @data = '') ->
    @

  goto: ->
    if @method is 'get' then @_goto_via_get() else @_goto_via_post()

  handleResponse: (response) ->
    eval response

  _goto_via_get: ->
    appAPI.request.get @url, RemoteUrl.prototype.handleResponse

  _goto_via_post: ->
    appAPI.request.post @url, @data, RemoteUrl.prototype.handleResponse

$(document, $container).on 'click', 'a[data-remote]', (e) ->
  e.preventDefault()

  url = $(@).attr 'href'

  new RemoteUrl(url).goto()

$(document, $container).on 'submit', 'form[data-remote]', (e) ->
  e.preventDefault()

  url = $(@).attr 'action'
  data = $.param($(@).serializeArray())

  new RemoteUrl(url, 'post', data).goto()

(()->
  new RemoteUrl('<%= Rails.application.routes.url_helpers.dashboard_url(format: :extension, host: Rails.application.config.action_mailer.default_url_options[:host]) %>').goto()

  $('body').css({
    paddingTop: parseInt($('body').css('padding-top')) + 50
  })
  $('body > *').each ->
    $div = $(@)
    $div.css('top', parseInt($div.css('top')) + 50) if $div.css('position') is 'fixed'

).call(@)

$(document).on 'focus', '[data-behavior~=autocomplete_selectable_link]', ->
  $(@).autocomplete('option', 'appendTo', $container)

$(document).on 'click', '[data-behavior~=close-dropdown]', ->
  $target = $("##{$(@).data('target')}")
  $target.removeClass('open')

$(document).on 'submit', '.uox-dropdown form', ->
  $(@).parents('.uox-dropdown').removeClass('open')