<p><%= t 'parental.email.notification',
        teacher: @delivery.message.user.professional_name,
        student: @delivery.student.first_name %></p>

<p><%= link_to t('parental.email.read'), parental_web_delivery_url(@delivery.access_code) %></p>