/*
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
*/
/* Insert any bootstrap overrides -here- before the bootstrap @import */
$baseFontSize: 14px;

@import "bootstrap";

.container {
  margin-top: 40px;

  .main {
    margin-right: 20px;
  }
}

.call_to_action {
  padding: 10px;
  background: $red;
  color: $grayLighter;
  @include border-radius(6px);

  header {
    margin-bottom: 10px;
  }
}

.sidebox {
  @include border-radius(5px);
  border: 2px solid $grayLighter;

  > header {
    background: $grayLighter;
    text-align: center;
    font-weight: bold;
  }

  > header, > .sidebox_body {
    padding: 10px;
  }
}

.stats {
  @include clearfix();

  &.three > .stat_container {
    width: 33%;
  }

  &.two > .stat_container {
    width: 50%;
  }

  > .stat_container {
    float: left;

    > .stat {
      padding: 5px;
      border-bottom: 1px solid $grayLighter;
      border-right: 1px solid $grayLighter;
      text-align: center;

      > .number {
        font-size: 24px;
      }

      > .description {
        margin-top: 8px;
        font-size: 10px;
        color: $grayLight;
      }
    }

    &:last-child > .stat {
      border-right: none;
    }
  }
}

section > header {
  font-size: 16px;
  color: $red;
  margin-bottom: 10px;
}

.modal {
  p.next_steps {
    text-align: center;
  }
}

form {
  .choices {
    font-size: 12px;
  }
}