/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
*/
/* Insert any bootstrap overrides -here- before the bootstrap @import */

$baseFontSize: 14px;

/* Fix up bootstrap image paths */
$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');
@import "bootstrap";

.container {
  margin-top: 40px;

  .main {
    margin-right: 20px;
  }
}

.call_to_action {
  padding: 10px;
  background: $red;
  color: $grayLighter;
  @include border-radius(6px);

  header {
    margin-bottom: 10px;
  }
}

.event_container {
  border-bottom: 1px solid $grayLighter;
  margin-bottom: 10px;

  > header {
    @include clearfix();
    font-weight: bold;

    .subject {
      float: left;
      width: 70%;
    }

    time {
      float: left;
      width: 30%;
      text-align: right;
    }
  }

  .event_body {
    padding: 10px;
  }
}

.sidebox {
  @include border-radius(5px);
  border: 2px solid $grayLighter;

  > header {
    background: $grayLighter;
    text-align: center;
    font-weight: bold;
  }

  > header, > .sidebox_body {
    padding: 10px;
  }
}

.stats {
  @include clearfix();

  &.three > .stat_container {
    width: 33%;
  }

  &.two > .stat_container {
    width: 50%;
  }

  > .stat_container {
    float: left;

    > .stat {
      padding: 5px;
      border-bottom: 1px solid $grayLighter;
      border-right: 1px solid $grayLighter;
      text-align: center;

      > .number {
        font-size: 24px;
      }

      > .description {
        margin-top: 8px;
        font-size: 10px;
        color: $grayLight;
      }
    }

    &:last-child > .stat {
      border-right: none;
    }
  }
}

h1 {
  font-size: 24px;
  color: $red;
  margin-bottom: 10px;
}