@import 'includes';

section#accessible_messages {
  .pagination {
    display: none;
  }
}

#extension_download_unit {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  background: #F7FDFF;
  @include border-radius(5px);
  margin-bottom: 20px;

  h1, h3 {
    margin-bottom: 10px;
  }

  h3 {
    font-weight: normal;
  }

  .screenshot {
    margin: 30px 0;
  }

  .download {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .download_instructions {
    font-style: italic;
    margin-bottom: 10px;
  }
}