@import 'includes';


.message {      
  span.student {
    color: #000;
    font-weight: bold;
  }

  span.message_body {
    color: $grayLight;
  }

  span.from {
    color: $grayLight;
    font-size: 11px;
  }

  &.single {
    span.message_body {
      color: $textColor;
    }
  }
}

table.messages {
  tbody > tr > td {
    border-bottom: 1px solid $grayLighter;

    &:first-child {
      @include border-radius($standardRadius 0 0 $standardRadius);
    }

    &:last-child {
      @include border-radius(0 $standardRadius $standardRadius 0);
    }

    &.time {
      width: 75px;
      font-weight: bold;
      white-space: nowrap;
      text-align: right;
    }

    &.status {
      width: 22px;
    }

    &.no_messages {
      text-align: center;
      padding: 10px;
      font-style: italic;
    }
  }
}

section.recent_updates {
  margin-top: 20px;
}

section.messages {
  .filter_alert {
    padding: 8px;
    margin-bottom: 5px;
    @include border-radius($standardRadius);
    background: #000;
    color: #fff;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.new_message_container {
  padding-bottom: 20px;
  border-bottom: 1px solid $grayLighter;

  form {
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid $grayLight;
    background: $grayLighter;
    @include border-radius($standardRadius);

    .inner_box {
      margin-bottom: 10px;
      background: white;
      border: 1px solid $gray;
      padding: 10px;
      @include border-radius($standardRadius);

      .translation_note {
        font-size: 12px;
      }

      textarea {
        @include box-sizing('border-box');
        width: 100%;
        height: 20px;
        background: none;
        @include box-shadow(none);
        border: none;
        resize: none;
        padding: 0;
      }
    }

    > footer {
      .choices {
        float: left;
      }

      .limit_countdown {
        float: right;
        line-height: 28px;
        font-size: 12px;

        &.getting_close {
          color: $orange;
        }
      }
    }

    .alert.limit_exceeded {
      margin-top: 10px;
      font-size: 12px;
    }
  }
}