@import 'includes';

.messages .no_messages {
  text-align: center;
  font-style: italic;
}

.message {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;

  > header {
    @include clearfix();
    margin-bottom: 4px;

    .to, .from {
      float: left;
      width: 45%;
      font-weight: bold;
    }

    .from {
      text-align: right;
    }
  }

  > .message_container {
    margin-bottom: 4px;
    @include clearfix();

    .message_body {
      float: left;
      width: 90%;
    }

    .checked_state {
      float: left;
      width: 10%;
      text-align: center;

      .message_checkmark {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: image-url("checkmarks.png");
        background-position: 24px 72px;

        &.checked_by_12_point_5_percent { background-position: 0 0; }
        &.checked_by_25_percent         { background-position: -24px 0; }
        &.checked_by_37_point_5_percent { background-position: -48px 0; }
        &.checked_by_50_percent         { background-position: -72px 0; }
        &.checked_by_62_point_5_percent { background-position: 0 -24px; }
        &.checked_by_75_percent         { background-position: -24px -24px; }
        &.checked_by_87_point_5_percent { background-position: -48px -24px; }
        &.checked_by_100_percent        { background-position: -72px -24px; }
      }
    }
  }

  > footer {
    @include clearfix();
    color: $lightBrown;

    .last_checked {
      float: left;
      width: 50%;
    }

    time {
      float: right;
      width: 40%;
      margin-right: 10%;
      text-align: right;
    }
  }
}

section.recent_updates {
  margin-top: 20px;
}

section.messages {
  .filter_alert {
    padding: 8px;
    margin-bottom: 5px;
    @include border-radius($standardRadius);
    background: #000;
    color: #fff;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.modal.new_message {
  .modal-body {
    max-height: 500px;
  }
}

.new_message_container {
  padding-bottom: 20px;
  border-bottom: 1px solid $grayLighter;

  form {
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid $grayLight;
    background: $grayLighter;
    @include border-radius($standardRadius);

    > header {
      margin-bottom: 5px;
    }

    .inner_box {
      margin-bottom: 10px;
      background: white;
      border: 1px solid $gray;
      padding: 10px;
      @include border-radius($standardRadius);

      .translation_note {
        font-size: 12px;
      }

      textarea {
        @include box-sizing('border-box');
        width: 100%;
        height: 20px;
        background: none;
        @include box-shadow(none);
        border: none;
        resize: none;
        padding: 0;
      }
    }

    > footer {
      .choices {
        float: left;
      }

      .limit_countdown {
        float: right;
        line-height: 28px;
        font-size: 12px;

        &.getting_close {
          color: $orange;
        }
      }
    }

    .alert.limit_exceeded {
      margin-top: 10px;
      font-size: 12px;
    }
  }
}