@import 'includes';

.email_delivery_container {
  width: 700px;
  @include border-radius($standardRadius);
  @include box-shadow(0px 1px 2px $grayLight);
  background: #fff;

  header, .email_delivery_body, .translation_feedback, footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  header {
    padding-top: 10px;
    padding-bottom: 10px;
    @include border-radius($standardRadius $standardRadius 0 0);
    @include clearfix();
    background: $grayLighter;

    .from, .to {
      font-weight: bold;
    }

    .from {
      float: left;
    }

    .to {
      float: right;
    }
  }

  .email_delivery_body, .translation_feedback {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .translation_feedback {
    text-align: center;
  }

  footer {
    padding-top: 10px;
    padding-bottom: 10px;
    @include border-radius(0 0 $standardRadius $standardRadius);
    background: $grayLighter;
    text-align: right;
    font-weight: bold;
  }
}

.how_it_works_for_parents, .thank_parent_for_registering {
  padding-right: 20px;

  ol {
    margin-top: 20px;
    margin-bottom: 20px;

    li {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.thank_parent_for_registering {
  p {
    font-size: 18px;
    line-height: 30px;
  }
}