@import 'bootstrap/variables';
@import 'bootstrap/mixins';

.student_selector {
  .autocomplete_container {
    padding-bottom: 10px;

    input {
      height: 30px;
      width: 250px;
      font-size: 16px;
    }
  }
}

.modal.student_preview {
  .stats {
    margin: 0 auto;
    width: 300px;
  }
}