@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'variables';
@import 'mixins';

.student_selector {
  .autocomplete_container {
    padding-bottom: 10px;

    input {
      height: 30px;
      width: 250px;
      font-size: 16px;
      padding-left: 9px;
    }
  }
}

.second_tier_page.student_preview {
  .stats {
    margin: 0 auto;
    width: 300px;
  }
}

table.students > tbody > tr {
  > td {
    border-bottom: 1px solid $grayLighter;
  }

  > td.name {
    width: 150px;

    > a {
      color: $textColor;
    }
  }

  > td.actions > a {
    visibility: hidden;
  }

  &:hover {
    > td.name > a {
      color: $linkColor; 
    }

    > td.actions > a {
      visibility: visible;
    }
  }
}

.parent {
  padding-left: 10px;

  &:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid $grayLighter;
  }

  &:not(:first-child) {
    margin-top: 10px;
  }

  .who_last_edited {
    padding: 8px;
    @include border-radius($standardRadius);
    background: $grayLighter;
    color: $gray;
    font-weight: bold;

    a {
      font-weight: normal;
    }
  }

  .contact, .remove {
    margin-left: 15px;
  }

  .contact {
    margin-top: 15px;
  }

  .remove > a {
    color: $grayLight;

    &:hover {
      color: $red;
    }
  }
}