.second_tier_page.modal.hide{class: @second_tier_page_class}
  - if content_for? :secondary_title
    .modal-header
      = link_to "x", "#", class: "close", data: {dismiss: "modal"}
      = yield :secondary_title
  .modal-body
    = yield
  - if content_for? :secondary_footer
    .modal-footer= yield :secondary_footer