- content_for :aside do
  .sidebox.student_overview
    %header #{@student.first_name}'s Overview
    .sidebox_body
      = render "shared/students/stats", student: @student

= render template: "layouts/application"