- content_for :aside do
  = render "shared/user_overview", user: @user

- content_for :content do
  %section.messages
    %header Your Updates Archive
    - if content_for?(:filter_alert)
      .filter_alert= yield(:filter_alert)
    = yield

= render template: "layouts/application"